:root {
  --background: #c1deea;
  --primary: #ffffff;
  --accent: #e26eff;
  --text: #545154;
  --low: #6bcf95;
  --medium: #ffb703;
  --high: #ef476f;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--background);
  color: var(--text);
  min-height: 100vh;
}

.header {
  background: var(--accent);
  padding: 20px;
  text-align: center;
  color: white;
font-size: 25px;
}

.app {
  display: flex;
  max-width: 1100px;
  margin: 40px auto;
  gap: 20px;
}

.projects {
  width: 250px;
  background: var(--primary);
  border-radius: 12px;
  padding: 15px;
}

.projects h2 {
  margin-bottom: 10px;
}

.project {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

.project.active {
  background: var(--accent);
  color: white;
  padding: 10px ;
  font-size: 18px;
  width: 100%;
}


#add-project-btn {
  margin-top: 10px;
  width: 100%;
}


.todos {
  flex: 1;
  background: var(--primary);
  border-radius: 12px;
  padding: 15px;
}

.todos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}

.todo {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}


.todo-title {
  font-weight: 600;
}

.todo.low {
  border-left: 6px solid var(--low);
}

.todo.medium {
  border-left: 6px solid var(--medium);
}

.todo.high {
  border-left: 6px solid var(--high);
}

.todo-details {
  position: fixed;
  right: 20px;
  top: 100px;
  width: 300px;
  background: var(--primary);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

#todo-list{
  padding: 0;
}

dialog {
  margin: auto;
  border-radius: 12px;
  padding: 1.5rem;
  border: none;
  height: 35rem;
  width: 35rem;
  align-content: center
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.project-dialog {
  height: 20rem;
}

.todo-dialog-title,
.project-dialog-title{
  font-size: 45px;
  margin-bottom: 10px;
   padding: 10px;
}

.todo-dialog label,
.project-dialog label{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.todo-dialog input,
.todo-dialog textarea,
.todo-dialog select,
.project-dialog input{

  size: 40px;
  font-size: 20px;
}

.details-actions {
  display: flex;
  justify-content: space-between;
}

.details-actions button{
  font-size: 20px;
}

button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-size: 15px;

}

button:hover {
  filter: brightness(0.9);
  transform: translateY(-1px);
}



button.danger {
  background: var(--high);
  color: white;
}

button.save {
  background: var(--accent);
  color: white;
}


.checkbox-image {
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 1;
  gap: 12px;
  height: 28px;
  width: 28px;
  border-radius: 50%; 
  border: 2px solid #ccc;
  background-color: white;
  background-size: 80%; 
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s;
  background-image: none; 
}

.custom-checkbox {
    display: flex ;      
    flex-direction: row ; 
    align-items: center;            
    gap: 12px;                      
    cursor: pointer;
    width: fit-content;             
}

.custom-checkbox input:checked ~ .checkbox-image {
  background-color: var(--accent);
  border-color: var(--accent);
  background-image: url('./Icons/icons/check_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg');
}

.custom-checkbox input {
    display: none; 
}

.todo-text, .todo-title {
  margin: 0;
  display: inline-block;
  vertical-align: middle;  /* ליתר ביטחון עבור דפדפנים ישנים */
}