:root {
  --background: #c1deea;
  --primary: #ffffff;
  --accent: #e26eff;
  --text: #545154;
  --low: #6bcf95;
  --medium: #ffb703;
  --high: #ef476f;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--background);
  color: var(--text);
  min-height: 100vh;
}

.header {
  background: var(--accent);
  padding: 20px;
  text-align: center;
  color: white;
font-size: 25px;
}

.app {
  display: flex;
  max-width: 1100px;
  margin: 40px auto;
  gap: 20px;
}

.projects {
  width: 250px;
  background: var(--primary);
  border-radius: 12px;
  padding: 15px;
}

.projects h2 {
  margin-bottom: 10px;
}

.project {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.project.active {
  background: var(--accent);
  color: white;
  padding: 10px ;
  font-size: 18px;
  width: 100%;

}

#add-project-btn {
  margin-top: 10px;
  width: 100%;
}

/* TODOS */
.todos {
  flex: 1;
  background: var(--primary);
  border-radius: 12px;
  padding: 15px;
}

.todos-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}

.todo {
  background: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo-info {
  display: flex;
  flex-direction: column;
}

.todo-title {
  font-weight: 600;
}

.todo-date {
  font-size: 0.8rem;
  opacity: 0.7;
}

.todo.low {
  border-left: 6px solid var(--low);
}

.todo.medium {
  border-left: 6px solid var(--medium);
}

.todo.high {
  border-left: 6px solid var(--high);
}

.todo-details {
  position: fixed;
  right: 20px;
  top: 100px;
  width: 300px;
  background: var(--primary);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

dialog {
  margin: auto;
  border-radius: 12px;
  padding: 1.5rem;
  border: none;
  height: 35rem;
  width: 35rem;
  align-content: center
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.todo-dialog-title{
  font-size: 45px;
  margin-bottom: 10px;
   padding: 10px;
}

.todo-dialog label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.todo-dialog input,
.todo-dialog textarea,
.todo-dialog select{
  size: 30px;
  font-size: 20px;
}

.details-actions {
  display: flex;
  justify-content: space-between;
}

.details-actions button{
  font-size: 20px;
}

button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button.danger {
  background: var(--high);
  color: white;
}

button.save {
  background: var(--accent);
  color: white;
}
